.detailsList {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;

  li {
    list-style: none;
    padding: 1em;
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 6px;
  }
}

.barGraph {
  background-color: white;
  padding: 2em;
  margin-bottom: 1em;
  border-radius: 12px;
  border: 1px solid var(--color-main-border);
}